<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" />
        <Elasticsearch name="elasticsearch" messageOnly="true">
            <RollingIndexName indexName="log4j2-elasticsearch-jest-test" pattern="yyyy-MM-dd-HH" timeZone="Europe/London" />
            <PatternLayout pattern="%m" />
            <AsyncBatchDelivery batchSize="2000" deliveryInterval="5000">
                <IndexTemplate name="log4j2-elasticsearch-jest-example-template" path="classpath:BOOT-INF/classes/indexTemplate.json" />
                <JestHttp serverUris="http://localhost:9200" mappingType="_doc"/>
            </AsyncBatchDelivery>
        </Elasticsearch>
    </Appenders>

    <Loggers>
        <AsyncLogger name="elasticsearch">
            <AppenderRef ref="elasticsearch" />
        </AsyncLogger>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>