<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" />
        <Elasticsearch name="elasticsearch" messageOnly="true">
            <RollingIndexName indexName="log4j2-elasticsearch-jest-test" pattern="yyyy-MM-dd-HH" timeZone="Europe/London" />
            <JacksonJsonLayout>
                <VirtualProperty name="uuid" value="$${ctx:uuid:-}"  dynamic="true" />
                <VirtualProperty name="user" value="$${ctx:username:-}" dynamic="true" />
                <VirtualProperty name="hostname" value="$${sys:hostname:-undefined}" />
                <JacksonMixIn targetClass="org.apache.logging.log4j.core.LogEvent"
                              mixinClass="com.github.rfoltyns.CustomLogEventJacksonJsonMixIn" />
            </JacksonJsonLayout>
            <AsyncBatchDelivery batchSize="2000" deliveryInterval="5000">
                <IndexTemplate name="log4j2-elasticsearch-jest-example-template" path="classpath:indexTemplate.json" />
                <JestHttp serverUris="http://localhost:9200" mappingType="_doc"/>
            </AsyncBatchDelivery>
        </Elasticsearch>
    </Appenders>

    <Loggers>
        <AsyncLogger name="elasticsearch">
            <AppenderRef ref="elasticsearch" />
        </AsyncLogger>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>